
body{
  background-image: linear-gradient(-20deg, #16007a 0%, #7a0045 100%);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255, .5);
}


.lo{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}